@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=Poppins:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Literata:opsz@7..72&family=Poppins:wght@400;600&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#background img {
  max-width: 100vw;
  height: auto;
  filter: opacity(30%);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
}

nav {
  display: flex;
  background-color: transparent;
  padding: 8px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav img {
  height: 41.76px;
}

nav #nav_bar_options {
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

nav #nav_bar_options .opts {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  animation-fill-mode: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
}

#container h1 {
  align-items: center;
  font-family: "Literata";
  font-weight: 500;
  font-size: 100px;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fdf9f9;
  margin: 0;
}

#container .uline {
  background-color: white;
  height: 5px;
  width: 100%;
  position: relative;
  top: -10px;
}

#container h2 {
  align-items: center;
  color: #fcfcfc;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.4px;
}

#container button {
  margin-top: 87px;
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 16px 24px;
  color: #ffffff;
  border-radius: 21px;
  background: rgba(145, 145, 145, 0.42);
}

/* menu */

section#menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#background2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: black;
  overflow: hidden;
}

#background2 img {
  max-width: 100vw;
  height: auto;
  filter: opacity(40%);
}

section#menu h2 {
  width: 100%;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 26.5px;
  color: #fdf9f9;
  font-weight: 400;
  letter-spacing: 5.666px;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

section#menu .menu-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

section#menu .menu-container .item-box {
  display: flex;
  flex-direction: column;
}

section#menu .menu-container .item-box .header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6bd95;

  font-weight: 500;
  font-family: "Gothic A1", sans-serif;
  font-size: 21px;
  letter-spacing: 2.1px;
}
section#menu .menu-container .item-box .header div {
  border-bottom: 2px solid #e6bd95;
}

section#menu .menu-container .item-box .items {
  background: rgba(102, 102, 102, 0.27);
  border-radius: 30px;
  width: 240px;
  display: flex;
  flex-direction: column;
}

section#menu .menu-container .item-box .items .item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

section#menu .menu-container .item-box .items .item h6 {
  font-family: Gothic A1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

section#menu .menu-container .item-box .items li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section#menu .menu-container .item-box .items .item .button-area {
  display: flex;
}

.header svg {
  width: 24px;
  height: 24px;
}

